.section-search {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  background-color: var(--c-background-02)
}

.section-search input {
  width: 50vw;
  padding: .8rem;
  border-radius: 10px;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.section-doc-home-page-hero {
  background-color: var(--c-background-02)
}

.container-whats-new-list {
  background-color: var(--c-tts-primary-050)
}

.container-doc-home-page-browse {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-doc-home-page-cards {
  height: 100%;
}

.section-whats-new {
  background-color: var(--c-background-01);
}

.whats-new-separation-line {
  height:1px;
  width: 100%;
  background-color: var(--c-tts-primary-200)
}

.whats-new-hero-card {
  background-image: url(/img/doc-pattern.png);
  background-repeat: no-repeat;
  background-size: 160%;
  background-position: center;
  transition: all .2s ease-in-out;
}

.whats-new-hero-card:hover {
  transform: translateY(-2px);
  box-shadow: 0px 2.7px 5.3px rgba(0, 0, 0, 0.02), 0px 8.9px 17.9px rgba(0, 0, 0, 0.03), 0px 40px 80px rgba(0, 0, 0, 0.05);
}

.container-whats-new {
  background-color: var(--c-tts-primary-100);
  box-shadow: 0px 2.7px 5.3px rgba(0, 0, 0, 0.01), 0px 8.9px 17.9px rgba(0, 0, 0, 0.015), 0px 40px 80px rgba(0, 0, 0, 0.025);
  background-image: url(/img/doc-pattern.png);
  background-repeat: no-repeat;
  background-size: 160%;
  background-position: center;
}

.item-whats-new {
  background-color: var(--c-tts-primary-main);
  background: rgba(30, 93, 255, 0.05);
  transition: all .2s ease-in-out;
}

.item-whats-new:hover {
  background-color: var(--c-tts-primary-main);
  background: rgba(30, 93, 255, 0.10);
  transform: translateY(-2px);
}
