# Root
/ @benolayinka @laurensslats
/CODEOWNERS @benolayinka @johanstokking
/LICENSE @benolayinka

# Build pipeline and tooling
/Makefile @benolayinka @htdvisser @johanstokking
/.github/workflows @benolayinka @htdvisser @michalborkowski96

# Hugo
/doc/themes @kschiffer @benolayinka
/doc/layouts @kschiffer @benolayinka

# Subsections
/doc/devices @laurensslats @benolayinka
/doc/gateways @laurensslats @benolayinka
/doc/content/integrations @johanstokking @adriansmares

# Subject matter experts
/doc/content/getting-started/cli @neoaggelos
/doc/content/getting-started/console @neoaggelos @bafonins @kschiffer @pgalic96
/doc/content/getting-started/installation @neoaggelos
/doc/content/getting-started/aws @KrishnaIyer @johanstokking
/doc/content/getting-started/migrating-from-networks @laurensslats @neoaggelos
/doc/content/getting-started/migrating-from-v2 @laurensslats @neoaggelos
/doc/content/getting-started/cloud-hosted @htdvisser @michalborkowski96
/doc/content/getting-started/events @htdvisser @rvolosatovs

/doc/content/reference/api @johanstokking @htdvisser @rvolosatovs
/doc/content/reference/configuration @johanstokking @htdvisser
/doc/content/reference/branding @kschiffer
/doc/content/reference/email-templates @htdvisser @adriansmares
/doc/content/reference/federated-auth @adriansmares
/doc/content/reference/frequency-plans @htdvisser @rvolosatovs
/doc/content/reference/interop-repository @johanstokking @rvolosatovs @adriansmares
/doc/content/reference/networking @johanstokking @htdvisser @michalborkowski96
/doc/content/reference/root-certificates @benolayinka @htdvisser
/doc/content/reference/stripe @adriansmares

# Reference components
/doc/reference/components/application-server @johanstokking @adriansmares
/doc/reference/components/gateway-configuration-server @rvolosatovs @KrishnaIyer @htdvisser
/doc/reference/components/gateway-server @johanstokking @KrishnaIyer @adriansmares
/doc/reference/components/identity-server @htdvisser @bafonins @kschiffer
/doc/reference/components/join-server @johanstokking @rvolosatovs @adriansmares
/doc/reference/components/network-server @johanstokking @rvolosatovs @adriansmares
/doc/reference/components/packet-broker-agent @johanstokking @adriansmares

# Clear generated code
/doc/data/api/*/*.yml
