# Root
/* @KrishnaIyer
/CODEOWNERS @johanstokking @KrishnaIyer
/LICENSE @johanstokking

# Build pipeline and tooling
/Makefile @KrishnaIyer @johanstokking
/.github/workflows @happyRip

# Hugo
/doc/assets/css @ryaplots @pierrephz
/doc/assets/js @ryaplots
/doc/layouts @ryaplots @pierrephz

# Subsections
/doc/content/integrations @vlasebian @KrishnaIyer
/doc/content/integrations/payload-formatters @vlasebian @KrishnaIyer

# Subject matter experts
/doc/content/the-things-stack/interact/cli @KrishnaIyer
/doc/content/the-things-stack/interact/console @ryaplots @KrishnaIyer
/doc/content/the-things-stack/host/docker @KrishnaIyer
/doc/content/the-things-stack/host/aws @KrishnaIyer @johanstokking @happyRip
/doc/content/the-things-stack/migrating @happyRip @KrishnaIyer
/doc/content/the-things-stack/cloud @happyRip @KrishnaIyer
/doc/content/the-things-stack/management/events @johanstokking @KrishnaIyer

/doc/content/api @KrishnaIyer @johanstokking
/doc/content/reference/configuration @johanstokking @KrishnaIyer
/doc/content/the-things-stack/management/branding @ryaplots @KrishnaIyer
/doc/content/reference/email-templates @nicholaspcr @KrishnaIyer
/doc/content/reference/federated-auth @nicholaspcr @KrishnaIyer
/doc/content/reference/frequency-plans @halimi @KrishnaIyer
/doc/content/reference/interop-repository @johanstokking @halimi @KrishnaIyer
/doc/content/the-things-stack/concepts/networking @KrishnaIyer
/doc/content/reference/root-certificates @KrishnaIyer
/doc/content/reference/stripe @mjamescompton @KrishnaIyer

# Reference components
/doc/reference/components/application-server @johanstokking @vlasebian @KrishnaIyer
/doc/reference/components/gateway-configuration-server @KrishnaIyer @nicholaspcr
/doc/reference/components/gateway-server @johanstokking @vlasebian @KrishnaIyer
/doc/reference/components/identity-server @nicholaspcr @ryaplots
/doc/reference/components/join-server @johanstokking @ryaplots @KrishnaIyer
/doc/reference/components/network-server @johanstokking @halimi @KrishnaIyer
/doc/reference/components/packet-broker-agent @johanstokking @vlasebian @KrishnaIyer

# Clear generated code
/doc/data/api/*/*.yml
