# Root
/* @nejraselimovic @benolayinka
/CODEOWNERS @johanstokking
/LICENSE @johanstokking

# Build pipeline and tooling
/Makefile @benolayinka @adriansmares @johanstokking
/.github/workflows @benolayinka @adriansmares

# Hugo
/doc/assets/css @benolayinka @pierrephz
/doc/assets/js @benolayinka
/doc/layouts @benolayinka @pierrephz

# Subsections
/doc/content/integrations @adriansmares @nejraselimovic
/doc/content/integrations/payload-formatters @adriansmares

# Subject matter experts
/doc/content/the-things-stack/interact/cli @nejraselimovic
/doc/content/the-things-stack/interact/console @kschiffer @nejraselimovic
/doc/content/the-things-stack/host/docker @nejraselimovic
/doc/content/the-things-stack/host/aws @KrishnaIyer @johanstokking @nejraselimovic
/doc/content/the-things-stack/migrating @adriansmares @nejraselimovic
/doc/content/the-things-stack/host/cloud @adriansmares @nejraselimovic
/doc/content/the-things-stack/management/events @adriansmares @nejraselimovic

/doc/content/reference/api @johanstokking @adriansmares @nejraselimovic
/doc/content/reference/configuration @johanstokking @adriansmares @nejraselimovic
/doc/content/the-things-stack/management/branding @kschiffer @nejraselimovic
/doc/content/reference/email-templates @adriansmares @nejraselimovic
/doc/content/reference/federated-auth @adriansmares @nejraselimovic
/doc/content/reference/frequency-plans @adriansmares @nejraselimovic
/doc/content/reference/interop-repository @johanstokking @adriansmares @nejraselimovic
/doc/content/the-things-stack/concepts/networking @adriansmares @nejraselimovic
/doc/content/reference/root-certificates @benolayinka @adriansmares @nejraselimovic
/doc/content/reference/stripe @adriansmares @nejraselimovic

# Reference components
/doc/reference/components/application-server @johanstokking @adriansmares @nejraselimovic
/doc/reference/components/gateway-configuration-server @KrishnaIyer @adriansmares @nejraselimovic
/doc/reference/components/gateway-server @johanstokking @KrishnaIyer @adriansmares @nejraselimovic
/doc/reference/components/identity-server @adriansmares @kschiffer @nejraselimovic
/doc/reference/components/join-server @johanstokking @adriansmares @nejraselimovic
/doc/reference/components/network-server @johanstokking @adriansmares @nejraselimovic
/doc/reference/components/packet-broker-agent @johanstokking @adriansmares @nejraselimovic

# Clear generated code
/doc/data/api/*/*.yml
