@font-face {
  font-family: "Inter";
  src: url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
      url('../fonts/Inter/Inter-Bold.woff') format('woff'),
      url('../fonts/Inter/Inter-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
      url('../fonts/Inter/Inter-Regular.woff') format('woff'),
      url('../fonts/Inter/Inter-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvantGardePro";
  src: url('../fonts/ITCAvantGardePro-Bold/ITCAvantGardePro-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/ITCAvantGardePro-Bold/ITCAvantGardePro-Bold.woff2') format('woff2'),
      url('../fonts/ITCAvantGardePro-Bold/ITCAvantGardePro-Bold.woff') format('woff'),
      url('../fonts/ITCAvantGardePro-Bold/ITCAvantGardePro-Bold.ttf') format('truetype'),
      url('../fonts/ITCAvantGardePro-Bold/ITCAvantGardePro-Bold.otf') format('opentype'),
      url('../fonts/ITCAvantGardePro-Bold/ITCAvantGardePro-Bold.svg#ITCAvantGardePro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

$family-sans-serif: "Inter", $family-sans-serif;
$title-family: "AvantGardePro", $family-sans-serif;
