.api-page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.collapse-button {
  cursor: pointer;
  margin-bottom: 0.5rem;
  border :#e5e5e5 1px solid;
  width: 2rem;
  border-radius: 0.25rem;
  align-items: center;
  padding: 0.25rem;
}

.api-tags-table{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.api-by-tags-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.api-tag-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.api-tag-summary-icon-expand {
  display: none;
  width: 3%;
}

.api-tag-summary-icon-collapse {
  width: 3%;
  display: block;
}

.api-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
}

.api-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid #e5e5e5;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.api-item-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
}

.api-item-header-method {
  text-transform: uppercase;
  font-weight: bold;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.25rem;
}

.api-item-header-path {
  padding-left: 0.25rem;
  text-decoration: underline;
  font-weight: normal !important;
}

.api-item-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
}

.api-item-header-method-patch {
  background-color: #FFC000;
  color: #fff;
}

.api-item-header-method-put {
  background-color: #FFB800;
  color: #fff;
}
.api-item-header-method-get {
  background-color: #0040E7;
  color: #fff;
}

.api-item-header-method-delete {
  background-color: #F9595A;
  color: #fff;
}

.api-item-header-method-post {
  background-color: #24C833;
  color: #fff;
}

.api-item-summary p {
  padding-top: 0.5rem;
}

.api-item-summary-icon-expand {
  display: block;
  width: 3%;
}

.api-item-summary-icon-collapse {
  width: 3%;
  display: none;
}

.api-item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  display : none;
  padding: 0.5rem;
}

.api-item-content-section-headers {
  padding-top: 1rem;
}

.api-float-button{
	position:fixed;
	width:20px;
	height:20px;
	bottom:40px;
	right:40px;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}
