@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvantGardePro";
  src: url(../fonts/AvantGardePro-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

$family-sans-serif: "Inter", $family-sans-serif;
$title-family: "AvantGardePro", $family-sans-serif;
