.container {
  @media (max-width: $desktop) {
  padding-left: $content-padding-side;
  padding-right: $content-padding-side;
  }
}

.is-not-wrapped {
  white-space: nowrap;
}

.is-borderless {
  border: 0 !important
}

.table.has-text-in-td-centered td {
  text-align: center;
}

.schema {
  margin: 100px 0px;
}

.content-intro, .title-intro {
  display: flex;
  margin: auto;
  max-width: 650px;
  text-align: center;
}

.has-vertical-space {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.content {
  h1, h2, h3, h4, h5, h6 {
    font-family: $title-family;
    color: $title-color;
  }
  h4 {
    margin-top: 1.2em;
  }
  figure {
    cursor: pointer;
    transition: transform ease-out 150ms 150ms;

    &:hover {
      transform: scale(1.01);
    }

    &.float {
      @media (max-width: 620px) {
        max-width: none;
      }
      float: right;
      @media (min-width: 621px) {
        max-width: 40%;
      }
    }

    & > img {
      max-height: 500px;
      object-fit: contain;
    }

    &:not(.plain) > img {
      box-shadow: $card-shadow;
    }
  }

  table {
    display: block;
    overflow: auto;
  }

}

details + p {
  margin-top: 1em;
}

details + blockquote {
  margin-top: 1em;
}

.glossary {
  .term, .term-abbr, .term-alt{
    background-color: #ececec;
    padding: 0.25rem;
    font-weight: bold;
  }
  dd {
    margin: 0.5em 0 0.5em 0;
  }
}

.frequency-plan {
  .id {
    background-color: $white-ter;
    padding: 0.25rem;
    font-weight: bold;
  }
  dd {
    margin: 0.5em 0 0.5em 0;
  }
}

.feedback {
  text-align: center;
  background-color: $white-ter;
  border-radius: 8px;
  padding: 12px;
}

.new-in-version, .distribution-inline, .deprecated-in-version {
  font-family: $family-sans-serif;
  vertical-align: super;
  font-size: 60%;
  color: $red;
  line-height: 0;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.removed-in-version, .distribution-inline {
  vertical-align: super;
  font-size: 60%;
  color: $red;
  line-height: 0;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: auto; }

// Fix for anchor link headbutting https://css-tricks.com/hash-tag-links-padding/
.content {
  h2::before, h3::before, h4::before {
    display: block;
    content: " ";
    margin-top: -$navbar-height - 1rem;
    height: $navbar-height + 1rem;
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
  }
}

.badge-stack {
  margin-left: .25em;
  vertical-align: middle;
  white-space: nowrap;
}

.badge-stack .badge {
  height: 1em;
  width: 1em;
}

.badge-stack .badge:not(:first-child){
  margin-left: -0.75em;
}

.card {
  overflow: visible;
}

.whats-new {
  position: relative;
  max-height:25em;
  overflow: hidden;
  background-color: $blue-bg;
  border-radius: .5rem;
  padding: 1.5rem 2rem;
  &:before {
    content: "";
    position:absolute;
    top: 3rem;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgb(229,236,255);
    background: linear-gradient(90deg, rgba(229,236,255,0) 72%, rgba(229,236,255,1) 100%);
    z-index: 1;
    pointer-events: none;
  }
  &:after {
    content: "";
    height: 6rem;
    @media (max-width: 620px) {
      height: 10rem;
    }
    display: block;
  }
  .whats-new-header {
    display: flex;
    justify-content: space-between;
    @media (max-width: 620px) {
      h2 {
        margin-bottom: 0.2rem;
      }
      & > a {
        margin-bottom: 1rem;
      }
      flex-direction: column;
    }
    & > a {
      font-size: .8rem;
    }
  }
  .whats-new-content{
    position: relative;
    & > a {
      display: block;
      color: inherit;
    }
  }
  .whats-new-items {
    position: absolute;
    display: flex;
    height: 6rem;
    @media (max-width: 620px) {
      height: 10rem;
    }
    ul {
      display: flex;
      margin-right: 1rem;
    }
  }
  h3 {
    display: none;
  }
  h3#fixed + ul li:before {
    content: "Fixed: "
  }
  h3#deprecated + ul li:before {
    content: "Deprecated: "
  }
  h3#removed + ul li:before {
    content: "Removed: "
  }
  li {
    display: block;
    list-style: none;
    padding: .5rem;
    border-radius: $radius;
    background-color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: $card-shadow;
    width: 24rem;
    height: 6rem;
    transition: transform 100ms ease-out;
    @media (max-width: 620px) {
      width: 12rem;
      height: 10rem;
    }
    &:not(:last-child) {
      margin-right: 1rem;
    }
    &:hover {
      transform: scale(1.02);
    }
    ul {
      display: none;
    }
    @media (min-width: 621px) {
      code {
        white-space: nowrap;
      }
    }
  }
}

.header-hash {
  font-size: 100%;
  visibility: hidden;
  color:silver;
}

h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
  visibility: visible
}
