.container {
  @media (max-width: $desktop) {
  padding-left: $content-padding-side;
  padding-right: $content-padding-side;
  }
}

.is-not-wrapped {
  white-space: nowrap;
}

.is-borderless {
  border: 0 !important
}

.table.has-text-in-td-centered td {
  text-align: center;
}

.schema {
  display: flex;
  width: 70%;
  margin: 100px auto;
  @media (max-width: 1440px) {
    width: 100%;
    margin: 50px auto;
  }
}

.content-intro, .title-intro {
  display: flex;
  margin: auto;
  max-width: 650px;
  text-align: center;
}

.has-vertical-space {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.content {
  h1, h2, h3, h4, h5, h6 {
    font-family: $title-family;
    color: $title-color;
  }
  h4 {
    margin-top: 1.2em;
  }
  figure {
    cursor: pointer;
    transition: transform ease-out 150ms 150ms;

    &:hover {
      transform: scale(1.01);
    }

    &.float {
      @media (max-width: 620px) {
        max-width: none;
      }
      float: right;
      @media (min-width: 621px) {
        max-width: 40%;
      }
    }

    & > img {
      max-height: 500px;
      object-fit: contain;
    }

    &:not(.plain) > img {
      box-shadow: $card-shadow;
    }
  }

  table {
    display: block;
    overflow: auto;
  }

}

details + p {
  margin-top: 1em;
}

details + blockquote {
  margin-top: 1em;
}

.glossary {
  .term, .term-abbr, .term-alt{
    background-color: #ececec;
    padding: 0.25rem;
    font-weight: bold;
  }
  dd {
    margin: 0.5em 0 0.5em 0;
  }
}

.frequency-plan {
  .id {
    background-color: $white-ter;
    padding: 0.25rem;
    font-weight: bold;
  }
  dd {
    margin: 0.5em 0 0.5em 0;
  }
}

.feedback {
  text-align: center;
  background-color: $white-ter;
  border-radius: 8px;
  padding: 12px;
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: auto; }

// Fix for anchor link headbutting https://css-tricks.com/hash-tag-links-padding/
.content {
  h2::before, h3::before, h4::before {
    display: block;
    content: " ";
    margin-top: -$navbar-height - 1rem;
    height: $navbar-height + 1rem;
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
  }
}

.badge-stack {
  margin-left: .25em;
  vertical-align: middle;
  white-space: nowrap;
}

.badge-stack .badge {
  height: 1em;
  width: 1em;
}

.badge-stack .badge:not(:first-child){
  margin-left: -0.75em;
}

.card {
  overflow: visible;
  border-radius: .7rem;
  box-shadow: 0 3px 10px 5px rgba(30, 93, 255, 0.04);
  border: solid #D4D3D9 .5px;
}

.card-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-content {
  margin-bottom: 2em;
}

.whats-new {
  counter-reset: li;
  position: relative;
  max-height: 25em;
  overflow: hidden;
  background-color: #F4F7FF;
  border-radius: .7rem;
  padding: 1.5rem 2rem;

  &:after {
    content: "";
    height: 6rem;
    display: block;
  }

  .whats-new-title {
    font-size: 1.2rem;
    font-family: "AvantGardePro";
    color: $blue;
  }

  .see-more {
    color: $blue;
  }

  .see-more:hover {
    color: $blue-secondary;
    text-decoration: underline;
  }

  .circle-more-updates {
    border-radius: 50%;
    background-color: white;
    padding: 1em;
    box-shadow: 0 3px 8px 5px rgba(30, 93, 255, 0.05);
    text-align: center;
    display: flex;
  }

  .circle-more-updates:hover {
    transition: transform 100ms ease-out;
    transform: scale(1.05);
  }

  .news-number {
    &:before {
      content: "+" counter(li);
    }

    font-size: 1.2rem;
    color: $blue;
    font-weight: bold;
  }

  .whats-new-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em 2em;
  }

  .whats-new-content {
    position: relative;
    & > a {
      display: block;
      color: inherit;
    }
  }

  .whats-new-body {
    position: absolute;
    display: flex;
    height: 6rem;
    width: 100%;
  }

  .whats-new-items-shadow {
    flex: 1 0;
    position: relative;
    box-sizing: content-box;
    padding: 1rem;
    top: -1rem;
    left: -1rem;
    overflow: hidden;
    height: 100%;
  }

  .whats-new-items-fade {
    position: relative;
    &:before {
      content: "";
      position:absolute;
      top: 0rem;
      right: 0;
      left: 0;
      bottom: 0;
      background: rgb(244,247,255);
      background: linear-gradient(90deg, rgba(244,247,255,0) 90%, rgba(244,247,255,1) 100%);
      z-index: 1;
      pointer-events: none;
    }
  }

  .whats-new-items {
    flex: 1 0;
    display: flex;
    box-sizing: border-box;

    h3 {
    display: none;
    }
    h3#fixed + ul li:before {
      content: "Fixed: "
    }
    h3#deprecated + ul li:before {
      content: "Deprecated: "
    }
    h3#removed + ul li:before {
      content: "Removed: "
    }

    ul {
      display: flex;
      justify-content: space-between;
      margin-right: 1rem;
    }

    li {

      &:before {
        counter-increment: li;
      }

      background-color: white;
      padding: 1rem;
      border-radius: .7rem;
      box-shadow: 0 3px 8px 5px rgba(30, 93, 255, 0.05);
      list-style: none;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 24rem;
      height: 6rem;
      transition: transform 100ms ease-out;

      &:not(:last-child) {
        margin-right: 1rem
      }
      &:hover {
        transform: scale(1.02);
      }
      ul {
        display: none;
      }
    }
  }

  .more-updates {
    flex: 0 0;
    display: flex;
    margin: auto;
  }
}

.whats-new-800 {
  display: none;
}

@media (max-width: 800px) {
  .whats-new-800 {
    display: flex;
    margin: 75px auto;
    width: 100%;
    border-radius: .7rem;
    background-color: #F4F7FF;
    border: solid #1E5DFF .5px;
  }

  .whats-new-header-800 {
    color: $blue;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1em;
  }

  .whats-new {
    display: none;
  }
}

.header-hash {
  font-size: 100%;
  visibility: hidden;
  color: silver;
  padding-left: 0.375rem;
}

h2, h3, h4, h5, h6 {
  &:hover a.header-hash {
    visibility: visible
  }
}

table.api {
  margin-top: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #ececec;
  border-top: 2px solid #ececec;
  td,th {border:none;}
  th {text-align:right!important;}
}

table.api + table.api {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}
