.navbar {
  display: block;
  border-bottom: 1px solid #e9ecef;
}

.navbar.is-fixed-top {
  background-color: $white;
}

a.navbar-item {
  font-family: $family-sans-serif;
  border-radius: 5px;
  margin: 10px 5px;
}

.has-navbar-banner-top {
  padding-top: $navbar-height + $banner-height !important;
}

// Offset anchorlinks for navbar.
[id]::before {
  content: '';
  display: block;
  height: $anchor-offset;
  margin-top: $anchor-offset * -1;
  visibility: hidden;
}

.search-bar {
  border-radius: 5px;
}

.navbar-search-brand {
  display: none !important;
}

.navbar-search-menu {
  display: flex !important;
}

@media (min-width: $tablet) {
  .navbar-search-brand {
    display: flex !important;
  }

  .navbar-search-menu {
    display: none !important;
  }
}

@media (min-width: $navbar-breakpoint) {
  .navbar-search-brand {
    display: none !important;
  }
  .navbar-search-menu {
    display: flex !important;
  }
}
