@charset "utf-8";

// `node_modules` mounted to css/vendor and js/vendor in config.toml

@import "vendor/bulma/sass/utilities/initial-variables.sass";

@import "common/fonts";
@import "common/variables";

@import "vendor/bulma/bulma.sass";

@import "vendor/basicLightbox.min.scss";

@import "common/global";
@import "common/tabs";
@import "footer/footer";
@import "header/nav";
@import "header/search";
@import "sidebar/sidebar";


.cli-flags dd {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.cli-flags p:not(:last-child) {
  margin-bottom: 0.5em;
}

@import "highlight.scss";

@import "vendor/bulma-tooltip.min";
