@charset "utf-8";

@import "bulma/sass/utilities/initial-variables.sass";

@import "common/fonts";
@import "common/variables";

// Modular imports broken in bulma 0.9
// https://github.com/jgthms/bulma/issues/2797

@import "bulma/bulma.sass";

@import "vendor/basicLightbox.min.scss";

@import "common/global";
@import "common/tabs";
@import "footer/footer";
@import "header/nav";
@import "header/search";

.cli-flags dd {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.cli-flags p:not(:last-child) {
  margin-bottom: 0.5em;
}

@import "highlight.scss";

@import "vendor/bulma-tooltip.min";
