@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

@font-face {
  font-family: 'LatoFallback';
  src: url(../fonts/Lato-Regular.woff2) format('woff2'), url(../fonts/Lato-Regular.woff) format('woff'), url(../fonts/Lato-Regular.ttf) format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'LatoFallback';
  src: url(../fonts/Lato-Bold.woff2) format('woff2'), url(../fonts/Lato-Bold.woff) format('woff'), url(../fonts/Lato-Bold.ttf) format('ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "AvantGardePro";
  src: url(../fonts/AvantGardePro-Bold.otf);
  font-weight: bold;
  font-style: normal;
}

@import "bulma/sass/utilities/initial-variables.sass";

$family-sans-serif: "Lato", "LatoFallback", $family-sans-serif;
$title-family: "AvantGardePro", $family-sans-serif;

// Colors

$blue: #0047ff;
$blue-secondary: #0039CE;
$blue-alt: #D9E4FF;
$white: #FFFFFF;
$graphite: #292929;
$white-bis: #fbfbfb;
$white-ter : #ececec;
$red: #f9595a;
$blue-bg: #E5ECFF;

$code: $blue;
$link-hover: darken($blue, 20%);
$link: $blue;
$primary: $blue;
$title-color: $blue;
$navbar-background-color: $white-bis;
$navbar-item-color: $blue;
$navbar-item-hover-background-color: $blue-bg;
$navbar-item-active-color: $blue;
$navbar-item-active-background-color: $white-bis;

$navbar-height: 4rem;

$card-content-padding:2rem;

$border: $white-ter;
$table-head-cell-border-width: 1px 1px 1px;
$table-foot-cell-border-width: 1px 1px 1px;
$table-cell-border: 1px solid $white-ter;
$table-cell-border-width: 1px 1px 1px;
$table-cell-padding: 1.2em 0.75em;

$tabs-border-bottom-color: $blue;

@import "bulma/sass/utilities/functions.sass";
@import "bulma/sass/utilities/derived-variables.sass";
@import "bulma/sass/utilities/animations.sass";
@import "bulma/sass/utilities/mixins.sass";
@import "bulma/sass/utilities/controls.sass";

@import "bulma/sass/base/_all";

// @import "bulma/sass/elements/_all";
// @import "bulma/sass/elements/box.sass";
@import "bulma/sass/elements/button.sass";
@import "bulma/sass/elements/container.sass";
@import "bulma/sass/elements/content.sass";
@import "bulma/sass/elements/icon.sass";
@import "bulma/sass/elements/image.sass";
@import "bulma/sass/elements/notification.sass";
// @import "bulma/sass/elements/progress.sass";
@import "bulma/sass/elements/table.sass";
// @import "bulma/sass/elements/tag.sass";
@import "bulma/sass/elements/title.sass";

@import "bulma/sass/elements/other.sass";

// @import "bulma/sass/form/_all";
@import "bulma/sass/form/shared.sass";
@import "bulma/sass/form/input-textarea.sass";
// @import "bulma/sass/form/checkbox-radio.sass";
@import "bulma/sass/form/select.sass";
// @import "bulma/sass/form/file.sass";
@import "bulma/sass/form/tools.sass";

// @import "bulma/sass/components/_all";
// @import "bulma/sass/components/breadcrumb.sass";
@import "bulma/sass/components/card.sass";
// @import "bulma/sass/components/dropdown.sass";
// @import "bulma/sass/components/level.sass";
// @import "bulma/sass/components/list.sass";
// @import "bulma/sass/components/media.sass";
@import "bulma/sass/components/menu.sass";
// @import "bulma/sass/components/message.sass";
// @import "bulma/sass/components/modal.sass";
@import "bulma/sass/components/navbar.sass";
// @import "bulma/sass/components/pagination.sass";
// @import "bulma/sass/components/panel.sass";
@import "bulma/sass/components/tabs.sass";

// @import "bulma/sass/grid/_all";
@import "bulma/sass/grid/columns.sass";
// @import "bulma/sass/grid/tiles.sass";

// @import "bulma/sass/layout/_all";
@import "bulma/sass/layout/hero.sass";
@import "bulma/sass/layout/section.sass";
@import "bulma/sass/layout/footer.sass";

@import "vendor/basicLightbox.min.scss";

html {
  margin: 0 10%;
}

.section {
  padding: 10px 0 100px 0;
}

.tabs.is-boxed li.is-active a {
  background-color: $blue-alt !important;
  border-color: transparent !important;
  border-bottom-color: $blue !important;
}

.tabs.is-boxed a {
  color: lighten($blue, 24%);
  background-color: lighten($blue-alt, 4%);
  border-bottom-color: $blue !important;
  margin-right: 4px;
}

.tabs.is-boxed a:hover {
  background-color: $blue-bg;
}

.logo {
  width: 125px;
}

.button.is-primary {
  font-size: 0.8rem;
  padding: 18px 15px;
}

.navbar.is-fixed-top {
  padding: 0 10%;
  background-color: #FFFFFF;
}

.navbar-start {
  margin: auto;
}


a.navbar-item {
  font-family: $family-sans-serif;
  font-size: 0.8rem;
  border-radius: 5px;
  margin: 10px 5px;
}

.is-not-wrapped {
  white-space: nowrap;
}

.is-borderless {
  border: 0 !important
}

.content-intro, .title-intro {
  display: flex;
  margin: auto;
  max-width: 650px;
  text-align: center;
}

.schema {
  margin: 100px 0px;
}

.card {
  &.has-radius {
    border-radius: $radius;
  }
  &.is-fullwidth {
    width: 100%;
  }

  .card-content {
    display: flex;
    height: 100%;
    flex-direction: column;
  }

  .buttons {
    margin-top: auto;
  }
}

.hero {
  &.has-radius {
    border-radius: 10px;
  }
  padding: 20px;
}

.has-vertical-space {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

.columns.has-same-height .column {
  display: flex;
}

h1 {
  padding-top: 100px;
}

.title.is-size-4 {
  padding-top: 100px;
}

.content {
  h1, h2, h3, h4, h5, h6 {
    font-family: $title-family;
    color: $title-color;
  }
  figure {
    cursor: pointer;
    transition: transform ease-out 150ms 150ms;

    &:hover {
      transform: scale(1.01);
    }

    &.float {
      @media (max-width: 620px) {
        max-width: none;
      }
      float: right;
      @media (min-width: 621px) {
        max-width: 40%;
      }
    }

    & > img {
      max-height: 500px;
      object-fit: contain;
    }

    &:not(.plain) > img {
      box-shadow: $card-shadow;
    }

    table {
      display: block;
      overflow: auto;
    }
  }
}

.hero.is-primary {
  background-image: url(../img/hero-bg.svg);
  background-size: cover;
  margin: 100px 0px 150px 0px;
}

.footer {
  background-size: cover;
  .title {
    color: $graphite;
  }
  .p {
    color: $graphite;
  }
  a {
    color: $graphite;
    &:hover {
      color: $blue;
    }
  }
}

.background-footer {
  background-color: $white;
  color: $graphite;
}

.table.has-text-in-td-centered td {
  text-align: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  main {
    flex: 1;
  }

  tbody{
    border: 1px solid $white-ter;
  }
}

html.has-navbar-fixed-top {
  body {
    min-height: calc(100vh - #{$navbar-height});
  }
  :target::before {
    content: "";
    display: block;
    height: $navbar-height;
    margin-top: -$navbar-height;
  }
}

details + p {
  margin-top: 1em;
}

details + blockquote {
  margin-top: 1em;
}

.event-description:first-letter {
  text-transform: uppercase;
}

.glossary {
  .term, .term-abbr, .term-alt{
    background-color: #ececec;
    padding: 0.25rem;
    font-weight: bold;
  }
  dd {
    margin: 0.5em 0 0.5em 0;
  }
}

.frequency-plan {
  .id {
    background-color: $white-ter;
    padding: 0.25rem;
    font-weight: bold;
  }
  dd {
    margin: 0.5em 0 0.5em 0;
  }
}

.search-container {
  margin: none;
  padding: 100px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar {
  border: solid 1px #888888;
  background-color: white;
  width: 55vw;
  padding: 28px;
  border-radius: 5px;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.1));
  font-size: 20px;
  left: -1px; // Hack for left-justified dropdown
}

.is-one-quarter p {
  margin-bottom: 0.4em;
}

.feedback {
  text-align: center;
  background-color: $white-ter;
  border-radius: 8px;
  padding: 12px;
}

.new-in-version, .distribution-inline, .deprecated-in-version {
  font-family: $family-sans-serif;
  vertical-align: super;
  font-size: 60%;
  color: $red;
  line-height: 0;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.removed-in-version, .distribution-inline {
  vertical-align: super;
  font-size: 60%;
  color: $red;
  line-height: 0;
  padding-left: 0.3em;
  padding-right: 0.3em;
}

.tab-content section {
  display: none;
}

.tab-content section.is-active {
  display: block;
}

table.fixed { table-layout:fixed; }
table.fixed td { overflow: auto; }

@import "highlight.scss";
