.homepage-icons {

  display: flex;
  align-items: center;
  justify-content: space-between;

  figure {
    text-align: center;
    display: inline-block;
  }
  figure img {
    height: 50px;
    vertical-align: top;
  }
  :nth-child(3) {
    figure img {
      height: 100px;
    }
  }
  figure figcaption {
    margin-top: 1rem;
  }

  .icon-button {
    margin: 1rem auto;
  }

  @media (max-width: $tablet) {
    .icon-button {
      width: 50%;
      display: flex;
      justify-content: center;
    }
    :nth-child(3) {width: 100% }
    flex-wrap: wrap;
  }

}
